@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  /*-----------------Cabeçalho e Rodapé-----------------*/

  .header-site {
    display: flex;
    justify-content: center;
    background-color: #60b579;
    width: 100vw;
    min-height: 50px;
    font-family: 'Roboto', sans-serif;
  }

  .links {
    display: flex;
    align-items: center;
  }

  .links ul {
    display: flex;
    list-style-type: none;
  }

  .links li {
    padding: 30px;
    transition: all 0.3s ease-in-out;
  }

  .links a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid;
    transition-duration: 0.1s;
  }

  .links a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
  }

  #marcacao {
    border-bottom: 3px solid;
  }

  .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b579;
    width: 100%;
    height: 2.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .rodape p {
    margin-right: 15px;
    margin-left: 15px;
  }

  /*-----------------Pagina Agricultura Sustentavel-----------------*/

  .conteudo-1 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 4%;
  }

  .conteudo-2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5%;
  }

  .texto h1 {
    position: absolute;
    width: 443px;
    height: 168px;
    left: 300px;
    top: 250px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: #d8fec1;
  }

  .texto p {
    position: absolute;
    width: 362px;
    height: 174px;
    left: 300px;
    top: 430px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: #d8fec1;
  }

  .imagem-1 img {
    display: block;
    width: 1920px;
  }

  .imagens-agro {
    flex-direction: row;
  }

  .imagens-agro img {
    width: 500px;
    height: 391px;
  }

  /*-----------------Pagina Contato-----------------*/

  fieldset {
    border: 0;
  }

  .formulario {
    display: flex;
    align-items: center;
    margin: 10% 0 10% 0;
    flex-direction: column;
  }

  input,
  textarea {
    border-radius: 2px;
  }

  .campo label {
    margin: 0 3px 0 10px;
  }

  .campo input {
    margin-bottom: 0, 2em;
  }

  .campo input[type='text'],
  .campo input[type='email'] .campo input[type='tel'] {
    padding: 0.1em;
  }

  textarea {
    border-radius: 2px;
    margin-bottom: 0, 2em;
    display: flex;
  }

  button {
    font-size: 1.2em;
    border-radius: 25px;
    padding: 0.4em;
    background-color: #d9d9d9;
    border: none;
    margin: 0 0 0 10px;
  }

  .botao {
    display: flex;
    justify-content: center;
  }

  button:hover {
    background-color: #bebebe;
    cursor: pointer;
  }
}
