@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 1200px) {
  /*-----------------Cabeçalho e Rodapé-----------------*/

  .header-site {
    display: flex;
    justify-content: center;
    background-color: #60b579;
    width: 100vw;
    height: 109px;
    font-family: 'Roboto', sans-serif;
  }

  .links {
    display: flex;
    align-items: center;
  }

  .links ul {
    display: flex;
    list-style-type: none;
  }

  .links li {
    padding: 30px;
    transition: all 0.3s ease-in-out;
  }

  .links a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid;
    transition-duration: 0.1s;
  }

  .links a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
  }

  #marcacao {
    border-bottom: 3px solid;
  }

  .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b579;
    width: 100%;
    height: 109px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .rodape p {
    margin-right: 15px;
    margin-left: 15px;
  }

  /*-----------------Pagina Agricultura Sustentavel-----------------*/

  .conteudo-1 {
    display: flex;
    justify-content: center;
  }

  .imagem-1 img {
    display: block;
    width: 1920px;
  }

  .texto h1 {
    position: absolute;
    width: 443px;
    height: 168px;
    margin-left: 300px;
    margin-top: 100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: #d8fec1;
  }

  .texto p {
    position: absolute;
    width: 362px;
    height: 174px;
    margin-left: 300px;
    margin-top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #d8fec1;
  }

  /*
  Subtitulo
  */

  #subtitulo-da-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #153312;
    height: 148px;
    width: 100%;
  }

  #subtitulo-da-pagina p {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 32px;
    color: #d8fec1;
  }

  /*
  Parte da compostagem
  */

  #conteiner-compostagem {
    display: flex;
    justify-content: center;
  }

  #compostagem-img img {
    display: block;
    width: 1920px;
  }

  #texto-compostagem {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
  }

  #texto-compostagem h2 {
    margin-top: 200px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;
    text-align: center;
    color: #d8fec1;
  }

  #texto-compostagem p {
    width: 520px;
    height: 168px;
    margin-top: 70px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    color: #d8fec1;
  }

  /*
  Parte da irrigacao
  */

  #conteiner-irrigacao {
    display: flex;
    justify-content: center;
  }

  #irrigacao-img img {
    display: block;
    width: 1920px;
  }

  #texto-irrigacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
  }

  #texto-irrigacao h2 {
    width: 858px;
    height: 168px;
    margin-top: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    color: #d8fec1;
  }

  #texto-irrigacao p {
    width: 556px;
    height: 232px;
    margin-top: 59px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    color: #d8fec1;
  }

  /*
  Parte da cogeracao
  */

  #conteiner-cogeracao {
    display: flex;
    justify-content: center;
  }

  #cogeracao-img img {
    display: block;
    width: 1920px;
  }

  #texto-cogeracao {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
  }

  #texto-cogeracao h2 {
    margin-top: 200px;
    width: 1000px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 96px;
    line-height: 112px;
    text-align: center;
    color: #d8fec1;
  }

  #texto-cogeracao p {
    width: 556px;
    height: 232px;
    margin-top: 59px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    text-align: center;

    color: #d8fec1;
  }

  /*-----------------Pagina IA Generativa-----------------*/
  #img-superior {
    display: flex;
    justify-content: center;
    height: 660px;
  }

  #img-superior img {
    display: block;
    width: 1920px;
  }

  #texto-imagem-superior {
    position: absolute;
    color: #c1fafe;
  }

  #texto-imagem-superior h1 {
    width: 317px;
    margin-left: 420px;
    margin-top: 132px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
  }

  #texto-imagem-superior p {
    width: 400px;
    height: 235px;
    margin-left: 420px;
    margin-top: 52px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
  }

  /*-----------------Pagina Contato-----------------*/

  #titulo-contato{
    margin-left: 35%;
  }
  #subtitulo-contato {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 38%;
  } 
  body {
    background-color: #e1f8d2;
  }
  fieldset {
    border: 0;
  }

  .formulario {
    display: flex;
    align-items: center;
    margin: 10% 0 10% 0;
    flex-direction: column;
    margin-top: 5em;
  }
  #email{
    display: block;
  }

  input,
  textarea {
    border-radius: 2px;
    margin-bottom: 1em;
  }

  .campo label {
    margin: 0 3px 0 10px;
  }

  .campo input[type='text'],
  .campo input[type='email'] .campo input[type='tel'] {
    padding: 0.1em;
    display: block;
    margin-bottom: 1em;
  }

  textarea {
    border-radius: 2px;
    margin-bottom: 0, 2em;
    display: flex
  }

  button {
    font-size: 1.2em;
    border-radius: 25px;
    padding: 0.4em;
    background-color: #d9d9d9;
    border: none;
    margin: 0 0 0 10px;
  }
  
  .botao {
      font-size: 1em;
      border: 0;
      margin-bottom: 1em;
      color: #ffffff;
      padding: 0.2em 0.6em;
      position: absolute;
      top: 103%;
      left: 49%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
  }

  button:hover {
    background-color: #bebebe;
    cursor: pointer;
  }
}