@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

@media (min-width: 1280px) {
  /*-----------------Cabeçalho e Rodapé-----------------*/
  .header-site-telas-menores {
    display: none;
  }

  .nome_grupo {
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    color: white;
  }

  .header-site-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60b579;
    width: 100%;
    height: 109px;
    justify-content: space-around;
  }

  .links ul {
    display: flex;
    column-gap: 40px;
    color: white;
  }

  .links li,
  a {
    list-style-type: none;
    text-decoration: none;
    padding-bottom: 5px;
    color: white;
    font-size: 16px;
  }

  .links a:hover {
    border-bottom: 3px solid white;
    transition-duration: 0.09s;
    border-radius: 2px;
  }

  #marcacao {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    border-radius: 2px;
  }

  .rodape {
    display: flex;
    align-items: center;
    background-color: #60b579;
    width: 100%;
    height: 150px;
    color: white;
    margin-top: auto;
  }

  .rodape p {
    margin: 0 30px;
    font-size: 16px;
    margin: 0 auto;
  }
}

/*-----------------Page Home--------------------------*/
#home {
  background-color: #08111a;
  height: fit-content;
}

#texto {
  margin: 0 auto;
  background-image: url(../assets/global.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
  max-width: 1920px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#texto h1 {
  color: #ffffff;
  font-size: 56px;
}

#texto p {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  width: 750px;
  margin-top: 50px;
}

/*
  icones home
  */

#icones-home {
  display: flex;
  column-gap: 97px;
  margin-top: 200px;
}

#icones-home img {
  width: 176px;
}

/*
  conteudo home
  */

#conteudo_home {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding-bottom: 400px;
}

#conteudo_home h2 {
  margin-top: 100px;
  width: 588px;
  font-size: 72px;
  text-align: center;
}

#conteudo_home p {
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
  width: 830px;
}

@media (min-width: 769px) and (max-width: 1279px) {
  /*-----------------Cabeçalho e Rodapé-----------------*/
  .header-site-telas-menores {
    display: none;
  }

  .nome_grupo {
    font-size: 40px;
    font-weight: 700;
    padding: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }

  .header-site-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #60b579;
    width: 100%;
    height: 109px;
  }

  .links ul {
    display: flex;
    column-gap: 20px;
    color: white;
  }

  .links li,
  a {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }

  #marcacao {
    padding-bottom: 5px;
    border-bottom: 3px solid white;
    border-radius: 2px;
  }

  .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b579;
    width: 100%;
    min-height: 109px;
    color: white;
  }

  .rodape p {
    margin-right: 15px;
    margin-left: 15px;
  }

  .names p {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  /*-----------------Cabeçalho e Rodapé-----------------*/
  .header-site-telas-menores {
    background-color: #60b579;
    z-index: 1;
    height: 40px;
  }

  .header-site-desktop {
    display: none;
  }

  #menuToggle {
    display: block;
    position: relative;
    top: 7px;
    left: 10px;
    background-color: #60b579;
    z-index: 0;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: tomato;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
 * Just a quick hamburger
 */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  /*
 * But let's hide the middle one.
 */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  /*
 * Ohyeah and the last one should go the other direction
 */
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  /*
 * Make this absolute positioned
 * at the top left of the screen
 */
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  /*
 * And let's slide it in from the left
 */
  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #menu-hamburguer {
    width: 41px;
    height: 109px;
    margin: 28px 33px 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 8px;
  }

  #menu-hamburguer div {
    width: 41px;
    height: 5px;
    background-color: black;
    border-radius: 10px;
  }

  .rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b579;
    width: 100%;
    min-height: 109px;
    color: white;
  }

  .rodape p {
    margin-right: 15px;
    margin-left: 15px;
  }

  /*-----------------Page Home--------------------------*/
  #home {
    background-color: #08111a;
    height: fit-content;
  }

  #texto {
    margin: 0 auto;
    background-image: url(../assets/global.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 768px;
    max-width: 768px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #texto h1 {
    color: #ffffff;
    font-size: 40px;
  }

  #texto p {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    width: 450px;
    margin-top: 50px;
  }

  /*
    icones home
    */

  #icones-home {
    display: flex;
    column-gap: 97px;
    margin-top: 200px;
  }

  #icones-home img {
    width: 90px;
  }

  /*
    conteudo home
    */

  #conteudo_home {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    padding-bottom: 400px;
  }

  #conteudo_home h2 {
    margin-top: 100px;
    width: 388px;
    font-size: 40px;
    text-align: center;
  }

  #conteudo_home p {
    margin-top: 100px;
    font-size: 24px;
    text-align: center;
    width: 450px;
  }
}
